* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

h1 {
    font-family: Inter, "Noto Sans TC";
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.12em;
    color: #333333;
}

h2 {
    font-family: Inter, "Noto Sans TC";
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.18em;
    color: #333333;
}

h3 {
    font-family: Inter, "Noto Sans TC";
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.12em;
    color: #333333;
}

h4 {
    font-family: Inter, "Noto Sans TC";
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.12em;
    color: #333333;
}

h5 {
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #333333;
}

.h5 {
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #333333;
}

.h6 {
    font-family: Inter, "Noto Sans TC";
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #333333;
}

/* header */
.header_pic a,
.hot_button a {
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.12em;
    /* text-align: center; */
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.header_nav {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 10;
    margin: auto;
    max-width: 1920px;
}

/* logo */
.header_nav .logo {
    align-self: center;
    padding: 0px 20px 0px 50px;
    display: flex;
}

.header_nav .logo img {
    width: 80px;
    align-items: center;
}

/* search+item */
.header_nav .main_nav {
    position: absolute;
    width: 60%;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    background-color: #002547;
    padding: 50px;
    display: none;
}

/* search bar */
.header_nav .search {
    display: flex;
    justify-content: center;
}

.header_nav .search .bar {
    align-self: center;
    display: flex;
    padding: 10px 10px;
    background-color: #F2F2F233;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
}

.header_nav .search .bar i {
    color: #fff;
    padding: 0 3px;
}

.header_nav .search .input {
    background-color: transparent;
    border: none;
    padding: 0px 5px;
    width: 100%;
}

.header_nav .search .input:focus {
    outline: none;
}

.header_nav .search :hover {
    outline: none;
    background-color: #F2F2F255;
}

.header_nav .search .bar i,
.header_nav .search .bar a,
.header_nav .search .bar .input:hover {
    background-color: transparent;
}

.header_nav .search .bar a i:hover {
    color: #00EFFE;
}

/* item-bar */
.header_nav .item {
    /* margin-top: 50px; */
}

/* BUG 用不好margin-top */

.header_nav .item ul {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 50px;
    align-items: center;
}

.header_nav .item ul a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.header_nav .item ul a:hover {
    color: #00EFFE;
}

.header_nav .item ul a h5 {
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}

/* item-fish */
.item_fish {
    position: absolute;
    top: -16px;
    display: none;
}

.item_fish img {
    width: 15px;
}

.header_nav .item ul a:hover .item_fish {
    /* display: block; */
    display: none;
    color: #00EFFE;
    animation-name: moveRight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes moveRight {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 15px);
    }
}

/* hb-label-nav */
.hb {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: 50px;
    /* display: none; */
}

.hb span {
    width: 70%;
    height: 2px;
    background-color: #00EFFE;
}

#menu-switch {
    display: none;
}

#menu-switch:checked+.header_nav .main_nav {
    display: block;
}

/* nav-bg-color */
#navbar {
    transition: background-color 0.5s ease;
    background-color: transparent;
}

#navbar.scrolled {
    background-color: #002547;
}

.header_nav .item ul .box {
    position: relative;
}

.header_nav .item ul .box .language_item {
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
    position: absolute;
    top: 0;
    right: 40px;
    align-items: center;
    background-color: #333333;
}

.header_nav .item ul .box:hover .language_item {
    display: flex;
}

/* header_pic */
.header_pic {
    position: relative;
    font-size: 0px;
    width: 100%;
    overflow: hidden;
}

.header_pic .pic {
    overflow: hidden;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

/* .header_pic .title */
.header_pic .title {
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header_pic .title h2,
.header_pic .title h3 {
    color: #fff;
    text-align: left;
    display: inline-block;
    margin-left: 90px;
}

/* footer*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #002547;
    color: #BDBDBD;
    margin: auto;
    text-align: center;
    gap: 20px;
    padding: 50px 0;
    width: 100%;
}

.footer_text {
    color: #BDBDBD;
    font-family: Inter, "Noto Sans TC";
    font-size: 8px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    width: 80%;
}

.footer_connect a {
    color: #BDBDBD;
}

.footer_connect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.footer_connect a:hover {
    color: #0BC6D6;
}

.footer_sub {
    display: flex;
    /* width: 20%; */
    padding-left: 20px;
    border-radius: 30px;
    background-color: #ffffff20;
    align-items: center;
}

.footer_sub .input {
    background-color: transparent;
    border: none;
    padding-right: 25px;
}

.footer_sub .input:focus::placeholder {
    color: transparent;
}

.footer_sub .input::placeholder {
    color: #a1a1a1;
    font-size: 9px;
}

.footer_sub .input:focus {
    outline: none;
}

.footer_sub i {
    margin-right: 10px;
    color: #a1a1a1;
}

.footer_sub .footer_p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.2em;
}

.footer_sub a {
    background-color: #0BC6D6;
    display: block;
    padding: 12px 25px;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 0 30px 30px 0;
    width: 40px;
}

.footer_sub a:hover {
    background-color: #0aa9b8;
}

/* body */
body {
    background-color: #F9F3F0;
    text-align: center;
    min-width: 414px;
}

/* main */
main {
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* .part_title */
.part_title {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    text-align: center;
    gap: 70px;
}

.part_title .pic_cm {
    font-size: 0px;
    margin: auto;
    width: 50%;
    max-width: 500px;
}

.part_title .pic_cm img {
    width: 100%;
}

.part_title .text {
    margin: auto;
    text-align: left;
    padding: 0 100px;
}

.part_title .text .small {
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.06em;
    margin-bottom: 25px;
}

.part_title .text h3 {
    margin-bottom: 25px;
    font-size: 20px;
}

/* clownfish */
.part_title .text .content,
.part_clownfish .text p {
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.06em;
    text-align: left;
    width: 100%;
}

.part_clownfish {
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part_clownfish .pic_rb {
    font-size: 0px;
    width: 100%;
}

.part_clownfish .pic_rb img {
    width: 100%;
}

.part_clownfish .text {
    margin-top: 100px;
    padding: 0 100px;
}

.part_clownfish .text p {
    width: 100%;
}

.part_clownfish .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    padding: 0 40px;
    font-size: 0px;
    margin-top: 130px;
}

.part_clownfish .content div:nth-child(2) {
    grid-area: 1/2/3/3;
    align-self: center;
}

.part_clownfish .content .pic_cm {
    font-size: 0px;
    width: 100%;
}

.part_clownfish .content .pic_cm img {
    width: 100%;
}

/* anemone */
.part_anemone {
    position: relative;
    margin-bottom: 100px;
    width: 100%;
}

.part_anemone .pic_bg {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part_anemone .pic_bg .pic {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
    width: 100%;
    position: absolute;
    z-index: 1;
    font-size: 0;
    padding: 0 40px;

}


.part_anemone .pic_bg .pic div:nth-child(1) {
    grid-area: 1/1/2/2;
}

.part_anemone .pic_bg .pic div:nth-child(2) {
    grid-area: 2/1/3/2;
}

.part_anemone .pic_bg .pic div:nth-child(3) {
    grid-area: 3/1/4/2;
}

.part_anemone .pic_bg .pic div:nth-child(4) {
    grid-area: 4/1/5/2;
}

.part_anemone .pic_bg .pic {
    width: 80%;
    padding: 0 40px;
}

.part_anemone .pic_bg .pic .pic_rm img,
.part_anemone .pic_bg .pic .pic_rm_2 img {
    width: 100%;
}

.part_anemone .pic_bg .bg {
    position: relative;
    transform: translateY(60%);
}

.part_anemone .pic_bg {
    height: 1750px;
}

/* .pic_second */
.part_anemone .pic_second {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    position: absolute;
    width:100%;
    bottom:-200px; */
    display: none;
}

/* .part_anemone .pic_second .pic_rm,
.part_anemone .pic_second .pic_rm_2{
    width: 80%;
    padding: 0 40px;
}
.part_anemone .pic_second .pic_rm img,
.part_anemone .pic_second .pic_rm_2 img{
    width: 100%;
} */

/* jellyfish */
.part_jellyfish {
    margin-bottom: 65px;
}

.part_other {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 1800px;
    width: 100%;
}

/* BUG absolute設定高度 */

.part_other .pic {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
    padding: 0 40px;
    position: absolute;
    z-index: 1;
    font-size: 0;
    top: 0;
    width: 80%;
}

.part_other .pic img {
    width: 100%;
}

.part_other .pic div:nth-child(1) {
    grid-area: 1/1/2/2;
}

.part_other .pic div:nth-child(2) {
    grid-area: 2/1/3/2;
}

.part_other .pic div:nth-child(3) {
    grid-area: 3/1/4/2;
}

.part_other .pic div:nth-child(4) {
    grid-area: 4/1/5/2;
}

.part_other .pic_bg {
    font-size: 0;
    position: relative;
    margin-top: auto;
}

@media screen and (min-width: 1024px) {

    /* header */
    .header_nav {
        height: 100px;
    }

    /* logo */
    .header_nav .logo {
        padding: 0px 20px 0px 105px;
    }

    /* search+item */
    .header_nav .main_nav {
        position: relative;
        width: 100%;
        background-color: transparent;
        top: 0;
        display: flex;
        flex-direction: row;
        padding: 30px 0 30px 30px;
    }

    /* search bar */
    .header_nav .search {
        margin-right: auto;
    }

    .header_nav .item {
        align-self: center;
    }

    .header_nav .item ul {
        flex-direction: row;
        color: #fff;
        padding-right: 105px;
        gap: 35px;
    }

    .header_nav .item ul a h5 {
        font-size: 14px;
    }

    /* item-fish */
    .item_fish {
        position: absolute;
        top: -16px;
        /* display: none; */
    }

    .item_fish img {
        width: 15px;
    }

    .header_nav .item ul a:hover .item_fish {
        display: block;
        /* display: none; */
        color: #00EFFE;
        animation-name: moveRight;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }

    @keyframes moveRight {
        0% {
            left: 0;
        }

        100% {
            left: calc(100% - 15px);
        }
    }

    /* hb-label-nav */
    .hb {
        display: none;
    }

    /* nav-bg-color */
    .header_nav .item ul .box .language_item {
        padding: 10px 50px;
        top: 100%;
        left: -40px;
    }

    /* header_pic */

    /* header_pic .title */
    .header_pic .title {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-45%);
        width: 100%;
    }

    /* footer */
    .footer {
        flex-direction: row;
        color: #BDBDBD;
        width: 100%;
        max-width: 1920px;
        padding: 10px 0;
    }

    .footer_text {
        font-size: 10px;
        margin: 0 30px 0 100px;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .footer_sub {
        margin: 56px 100px 56px 30px;
        padding-left: 30px;
    }

    /* body */

    /* main */

    /* part_title */
    .part_title {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 200px 0;
        text-align: left;
    }

    .part_title .pic_cm {
        font-size: 0px;
        margin-left: 13%
    }

    .part_title .text {
        margin-right: 70px;
        min-width: 488px;
        width: 100%;
        text-align: left;
        padding: 0;
    }

    .part_title .text .small {
        font-size: 16px;
    }

    .part_title .text h3 {
        font-size: 24px;
    }

    /* clownfish */
    .part_title .text .content,
    .part_clownfish .text p {
        font-size: 16px;
        line-height: 24px;
    }

    .part_clownfish {
        margin-bottom: 200px;
    }

    .part_clownfish .text {
        text-align: right;
        width: 100%;
    }

    .part_clownfish .text p {
        width: 60%;
        display: inline-block;
        margin-right: 70px;
    }

    .part_clownfish .content {
        display: flex;
        margin-top: 130px;
        justify-content: space-around;
        width: 80%;
    }

    /* anemone */
    .part_anemone .pic_bg .pic {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 60px;
        width: 80%;
    }

    .part_anemone .pic_bg .pic div:nth-child(1) {
        grid-area: 1/1/2/2;
    }

    .part_anemone .pic_bg .pic div:nth-child(2) {
        grid-area: 1/2/3/3;
        align-self: center;
    }

    .part_anemone .pic_bg .pic div:nth-child(3) {
        grid-area: 2/1/3/2;
    }

    .part_anemone .pic_bg .pic div:nth-child(4) {
        grid-area: 2/2/4/3;
        align-self: center;
    }

    .part_anemone .pic_bg .bg {
        transform: translateY(350px);
    }

    .part_anemone .pic_bg {
        height: 1830px;
    }

    /* .pic_second */
    .part_anemone .pic_second {
        bottom: 190px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 60px;
        width: 80%;
        position: absolute;
        z-index: 1;
        font-size: 0;
        padding: 0 40px;
        bottom: -5%;
    }

    .part_anemone .pic_bg .pic_second div:nth-child(1) {
        grid-area: 1/1/2/2;
    }

    .part_anemone .pic_bg .pic_second div:nth-child(2) {
        grid-area: 1/2/3/3;
        align-self: center;
    }

    .part_anemone .pic_second .pic_rm,
    .part_anemone .pic_second .pic_rm_2 {
        width: 100%;
    }

    .part_anemone .pic_second .pic_rm img,
    .part_anemone .pic_second .pic_rm_2 img {
        width: 100%;
    }

    /* jellyfish */
    .part_jellyfish {
        margin-bottom: 100px;
    }

    .part_other .pic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 60px;
    }

    .part_other .pic div:nth-child(1) {
        grid-area: 1/1/2/2;
    }

    .part_other .pic div:nth-child(2) {
        grid-area: 1/2/3/3;
        align-self: center;
    }

    .part_other .pic div:nth-child(3) {
        grid-area: 2/1/3/2;
    }

    .part_other .pic div:nth-child(4) {
        grid-area: 2/2/4/3;
        align-self: center;
    }
}

@media screen and (min-width: 1200px) {

    /* footer */
    .footer_text {
        max-width: 460px;
    }

    .footer_connect {
        margin-left: auto;
    }
}
