* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');


h1 {
    font-family: Inter, "Noto Sans TC";
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.12em;
    color: #333333;
}

h2 {
    font-family: Inter, "Noto Sans TC";
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.18em;
    color: #333333;
}

h3 {
    font-family: Inter, "Noto Sans TC";
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.12em;
    color: #333333;
}

h4 {
    font-family: Inter, "Noto Sans TC";
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.12em;
    color: #333333;
}

h5 {
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #333333;
}

.h5 {
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #333333;
}

.h6 {
    font-family: Inter, "Noto Sans TC";
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.06em;
    color: #333333;
}

.text_16px {
    font-family: Inter, "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.12em;
    color: #333333;
    text-align: justify;
}

.header_pic a,
.hot_button a {
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.12em;
    /* text-align: center; */

}

header {
    display: flex;
    justify-content: center;
}

.header_nav {
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    z-index: 10;
    margin: auto;
    max-width: 1920px;
}

.header_nav .logo {
    align-self: center;
    padding: 0px 20px 0px 105px;
    display: flex;
}

.header_nav .logo img {
    width: 80px;
    align-items: center;
}

.header_nav .search {
    margin-right: auto;
    display: flex;
}

.header_nav .search .bar {
    align-self: center;
    display: flex;
    padding: 10px 10px;
    background-color: #F2F2F233;
    border-radius: 20px;
}

.header_nav .search .bar i {
    color: #fff;
    padding: 0 3px;
}


.header_nav .search .input {
    background-color: transparent;
    border: none;
    padding: 0px 5px;
}

.header_nav .search .input:focus {
    outline: none;
}

.header_nav .search :hover {
    outline: none;
    background-color: #F2F2F255;
}

.header_nav .search .bar i,
.header_nav .search .bar a,
.header_nav .search .bar .input:hover {
    background-color: transparent;
}

.header_nav .search .bar a i:hover {
    color: #00EFFE;
}

.header_nav .item {
    align-self: center;
}

.header_nav .item ul {
    display: flex;
    flex-direction: row;
    color: #fff;
    padding-right: 105px;
    gap: 35px;
}

.header_nav .item ul a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

.header_nav .item ul a:hover {
    color: #00EFFE;
}

.header_nav .item ul a h5 {
    color: #fff;
}

.header_nav .item ul .box {
    position: relative;
}

.header_nav .item ul .box .language_item {
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
    position: absolute;
    top: 100%;
    left: -40px;
    align-items: center;
    background-color: #333333;
}

.header_nav .item ul .box:hover .language_item {
    display: flex;
}

.item_fish {
    position: absolute;
    top: -16px;
    display: none;
}

.item_fish img {
    width: 15px;
}

.header_nav .item ul a:hover .item_fish {
    display: block;
    color: #00EFFE;
    animation-name: moveRight;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes moveRight {
    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 15px);
    }
}

#navbar {
    transition: background-color 0.5s ease;
    background-color: transparent;
}

#navbar.scrolled {
    background-color: #002547;
}

.header_pic {
    position: relative;
    font-size: 0px;
    width: 100%;
}

.header_pic .pic {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.header_pic .pic img {
    width: 1920px;
}

.header_pic .title {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-45%);
    width: 1100px;
}

.header_pic .title h1,
.header_pic .title h2 {
    color: #fff;
}

/* .header_pic .title a {
    text-decoration: none;
    color: #00EFFE;
    border: 1px solid #00EFFE;
    border-radius: 35px;
    padding: 15px 30px;
    display: inline-flex;
    margin-top: 50px;
    background-color: #00EFFE;
}

.header_pic .title a img {
    padding-left: 10px;
    color:#333333;
}

.header_pic .title a:hover {
    background-color: #0BC6D6;
    border: 1px solid #ffffff;
    color:#ffffff;
    
}

.header_pic .title a .fish{
    margin-left: 10px;
    fill:#ffffff;
} */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.hot {
    background-image: url(../bg/bg_hot.svg);
    width: 100%;
}

.hot .hot_title {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 30px;
}

.hot .hot_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hot .hot_card a {
    text-decoration: none;
}

.hot .hot_card .oi,
.hot .hot_card .gi {
    display: flex;
    justify-self: center;
    width: 1036px;
    font-size: 0px;
    align-items: center;
    background-color: #F9F3F0;
    border-radius: 8px;
    position: relative;
}

.hot .hot_card .oi .oi_text,
.hot .hot_card .gi .gi_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 90px;
}

.hot .hot_card .oi .oi_text h6,
.hot .hot_card .gi .gi_text h6 {
    padding-top: 10px;
}

/* header_fish_button */
header .top .fish_button {
    position: fixed;
    z-index: 2;
    bottom: 100px;
    right: 50px;
}

header .top .fish_button a {
    position: absolute;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0BC6D690;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter, "Noto Sans TC";
}

header .top .fish_button a:hover {
    background-color: #00EFFE;
    box-shadow: 0px 0px 50px #00EFFE;
}

.fish1 {
    position: fixed;
    bottom: 65px;
    right: 105px;
    z-index: 3;
    transform: scale(0.8);
}

.fish2 {
    position: fixed;
    bottom: 50px;
    right: 85px;
    z-index: 3;
    transform: scale(0.8);
}

.fish3 {
    position: fixed;
    bottom: 60px;
    right: 25px;
    z-index: 3;
    transform: scale(0.8);
}

.fish4 {
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 3;
    transform: scale(0.8);
}

.hot .hot_button {
    width: 1036px;
    text-align: right;
    margin: auto;
    padding: 50px 0 100px 0;
}

.hot .hot_button a {
    text-decoration: none;
    color: #333333;
    /* border: 1px solid #0BC6D6; */
    /* border-radius: 35px;
    padding: 15px 35px; */
    display: inline-block;
}

.hot .hot_button a i {
    padding-left: 5px;
    margin: auto;
}

.hot .hot_button a::after {
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: .4s .2s;
}

.hot .hot_button a:hover::after {
    width: 100%;
}

.banner_learn {
    text-align: center;
    position: relative;
    width: 1920px;
}

.banner_learn img {
    width: 100%;
    text-align: center;
}

.banner_learn h2 {
    color: #fff;
}

.banner_learn p {
    padding: 13px 0 15px 0;
    width: 75%;
    color: #fff;
    margin: auto;
    text-align: center;
}

.banner_learn .text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.banner_learn .more a {
    display: inline-block;
    border-radius: 30px;
    padding: 10px 80px;
    background-color: #DDC723;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
}

.banner_learn .more {
    padding-top: 30px;
}

.banner_learn .more a:hover {
    background-color: #c5b220;
}

.news {
    background-image: url(../bg/bg_news.svg);
    width: 1920px;
    height: 930px;

}

.owl-nav,
.owl-dots {
    color: #c5b220;
    position: relative;
    transform: translateY(-570px);

}

.news h2 {
    text-align: center;
    padding: 100px 0 20px 0;
}

.news .box .owl-stage .owl-item {
    border: 1px solid #ECECEC;
    border-radius: 8px;
    padding: 20px;
    padding-bottom: 130px;
}

/* .owl-carousel .owl-theme .owl-loaded .owl-drag,
.owl-stage,
.owl-stage-outer {
    height: 950px !important;
}

.news .box {
    height: 950px;
} */

.owl-prev,
.owl-next {
    width: 50px !important;
    height: 50px !important;
    background-color: #ffffff !important;
    border-radius: 50% !important;
    border: 1px solid #EDD523 !important;
    /* box-shadow: 1px 1px 10px #b1b1b1; */
    margin: 15px !important;


}

.owl-prev:hover,
.owl-next:hover {
    background-color: #EDD523 !important;
}

.owl-dots {
    display: none;
}

.news .box .item .label {
    /* position: relative; */
    display: inline-block;
    padding: 20px;
}

.news .box .item .label p {
    background-color: #EDD523;
    display: inline-block;
    padding: 5px 30px;
    color: #fff;
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    position: relative;
}

.news .box .item .label p img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -10px;
    width: 21px;
}

.news .box .item .text {
    display: flex;
    align-items: center;
}

.news .box .item .text .title {
    display: flex;
    flex-direction: column;
}

.news .box .item .text .title p {
    color: #333333;
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 400;
    /* line-height: 21px; */
    order: -1;
}

.news .box .item .text .title {
    padding-left: 20px;
}

.news .box .item .text .button {
    margin-left: auto;
}

.news .box .item .text .button a {
    display: block;
    /* padding: 15px 30px;
    border: 1px solid #EDD523;
    border-radius: 30px; */
    text-decoration: none;
    color: #333333;
    font-family: Inter, "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-align: center;
}

/* .news .box .item .text .button a:hover {
    color: #ffffff;
    background-color: #EDD523;
} */

.news .box .item .text .button i {
    padding-left: 10px;
}

.news .box .item .text .button a::after {
    content: " ";
    display: block;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: .4s .2s;
}

.news .box .item .text .button a:hover::after {
    width: 100%;
}

.news .box .owl-stage .owl-item {
    position: relative;
}

.news .box .item {
    position: absolute;
    bottom: 15px;
    left: 0;
    padding: 10px 20px;
    width: 95%;
}

.banner_sub {
    position: relative;
    font-size: 0px;
}

.banner_sub .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

.banner_sub .text h2 {
    color: #fff;
}

.banner_sub .text p {
    padding: 25px 0 40px 0;
    width: 75%;
    margin: auto;
    color: #ffffff;
    text-align: center;
}

.banner_sub img {
    width: 1920px;
}

.banner_sub .text .sub {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 12px;
}

.banner_sub .text .sub .email {
    padding: 10px 20px 10px 20px;
    background-color: #F2F2F233;
    border-radius: 30px;
    font-size: 12px;
}

.banner_sub .text .sub .email input {
    background-color: transparent;
    border: none;
    padding-right: 50px;
}

.banner_sub .text .sub .email input::placeholder {
    color: #ffffff88;
}

.banner_sub .text .sub .email i {
    color: #ffffff88;
    padding-right: 8px;
}

.banner_sub .text .sub a {
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #0BC6D6;
    text-decoration: none;
    color: #fff;
}

.banner_sub .text .sub .email input:focus {
    outline: none;
}

.banner_sub .text .sub .email input:focus::placeholder {
    color: transparent;
}

.banner_sub .text .sub .email:hover {
    background-color: #F2F2F255;
}

.banner_sub .text .sub a:hover {
    background-color: #0aa9b8;
}

.need h2,
.title_need {
    text-align: center;
    text-shadow: 0 0 5px #333333;
}

.need {
    position: relative;
    font-size: 0;
    background-image: url(../pic/index/section_need_pic.png);
    height: 1721px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.need .bck img {
    width: 100%;
}

.need .text {
    padding-top: 250px;
}

.need .text h2 {
    color: #ffffff;
    padding-bottom: 20px;
}

.need .text .title_need {
    color: #ffffff;
    padding: 0 70px;
    font-family: Inter, "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.12em;
    padding-bottom: 90px;
    text-shadow: 0 0 5px #333333;
}

.need .text .sdg {
    display: flex;
}

.need .text .sdg .card {
    background-color: #F9F3F050;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    padding: 50px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.need .text .sdg .card div {
    background-color: #EDD523;
    width: 250px;
    height: 17px;
    /* margin:auto; */
    margin-top: 20px;
}

.need .text .sdg .card div title {
    display: flex;
    justify-content: center;
    font-family: Inter, "Noto Sans TC";
    color: #333333;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.12em;
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
}

.need .text .sdg .card img {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.need .text .sdg .card .word {
    width: 250px;
    color: #333333;
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.12em;
    padding-top: 25px;
    text-shadow: 0px 0px 10px #ffffff;
}

.need .text .sdg .card .percentage {
    margin-top: auto;
    padding: 15px 0 5px 0;
    color: #fff;
    font-family: Inter, "Noto Sans TC";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
}

.need .text .sdg .card span {
    font-family: Inter, "Noto Sans TC";
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    color: #EDD523;
}

.need .text .join {
    font-family: Inter, "Noto Sans TC";
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.18em;
    text-align: center;
    padding: 10px 90px;
    background-color: #EDD523;
    border-radius: 30px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.need .text .join:hover {
    background-color: #c5b220;
}

.gallery {
    text-align: center;
    background-color: #00254780;
    position: relative;
    /* position: absolute; */
    /* bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
    padding-bottom: 70px;
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 621px;
}

.gallery .gallery_pic {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.gallery h3 {
    color: #ffffff;
    padding: 50px 0;
}

.gallery .gallery_button {
    display: flex;
    width: 1200px;
    justify-content: flex-end;
    padding-right: 20px;
    margin-top: 30px;
    gap: 20px
}

.gallery_button a {
    width: 30px;
    height: 30px;
    border: 1px solid #00EFFE;
    border-radius: 50%;
    color: #00EFFE;
    padding: 15px;
    font-size: 20px;
    line-height: 30px;
}

.gallery_button a:hover {
    background-color: #ffffff30;
    border: 1px solid #ffffff;
}

.footer {
    display: flex;
    background-color: #002547;
    color: #BDBDBD;
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.footer_text {
    color: #BDBDBD;
    font-family: Inter, "Noto Sans TC";
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.12em;
    margin-left: 100px;
    /* width:50%; */
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.footer_connect a {
    color: #BDBDBD;
}

.footer_connect {
    display: flex;
    width: 13%;
    align-items: center;
    justify-content: space-evenly;
}

.footer_connect a:hover {
    color: #0BC6D6;
}

.footer_sub {
    display: flex;
    /* width: 20%; */
    margin: 56px 100px 56px 50px;
    padding-left: 20px;
    border-radius: 30px;
    background-color: #ffffff20;
    align-items: center;
}

.footer_sub .input {
    background-color: transparent;
    border: none;
    padding-right: 25px;
}

.footer_sub .input:focus::placeholder {
    color: transparent;
}

.footer_sub .input::placeholder {
    color: #a1a1a1;
    font-size: 9px;
}

.footer_sub .input:focus {
    outline: none;
}

.footer_sub i {
    margin-right: 10px;
    color: #a1a1a1;

}

.footer_sub .footer_p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.2em;
}

.footer_sub a {
    background-color: #0BC6D6;
    display: block;
    padding: 12px 25px;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    border-radius: 0 30px 30px 0;
}

.footer_sub a:hover {
    background-color: #0aa9b8;
}
